# Course Final Project

This notebook is the final project of a course.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>sklearn</li>
<li>TensorFlow</li>
<li>Kerras</li>
</ol>

|<H3>Data Science Tools</h3>|
|--------------|
|RStudio|
|Anaconda|
|Jupyter notebook|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

<b>Objectives:</b>
<ol>
    <li> create on git-hub publicly viewable notebook</li>
    <li> at least 8 Markdown cells and 2 code cells</li>
    <li> Additional markdowns</li>
</ol>

## Author 
Ellei